<h1>API</h1>

<% if @user['errors'].present? %>
  <p><%= @user.to_json %></p>
<% else %>
  <p><%= @user.to_json %></p>
  <p><%= link_to "Acessar Boleto Simples", "http://localhost:5000/#{@user['login_url'].split('/')[3]}", target: "_blank" %></p>
  <p><a href="/demo/new_billet?application_access_token=<%= @user['application_access_token'] %>">Criar boleto</a></p>
<% end %>

<%= link_to 'Voltar', demo_api_path %>
